label {
  font-style: normal;
  font-size: 16px;
}

.filter-panel {
  display: flex;
  flex-direction: row;
  padding: 10px;
  .filter {
    padding: 10px 20px;
    .filter-label {
      font-style: normal;
      font-size: 20px;
      font-weight: 600;
    }
    .input-choices {
      display: flex;
      flex-direction: column;
      padding: 10px 5px;
      input,
      label {
        cursor: pointer;
      }
    }
  }
}
