.column {
  display: flex;
  flex-direction: column;
}
.mb {
  margin-bottom: 10px;
}
.new-profile {
  padding: 50px;
  width: 30%;
  .input-field {
    height: 35px;
    width: 250px;
    border-radius: 4px;
    border: 1px solid black;
  }
  .error {
    border: 1px solid red;
  }
  .input-error-label {
    color: red;
    padding-bottom: 10px;
  }
  .gender-selector label {
    display: block;
  }
  .add-btn {
    font-size: 18px;
    color: #ffffff;
    padding: 5px 15px;
    background-color: #3e4248;
    border-radius: 4px;
    outline: none;
    width: max-content;
  }
}
