.pagination {
  display: flex;
  flex-direction: row;
  .btn {
    cursor: pointer;
    font-size: 18px;
    color: #ffffff;
    padding: 5px 15px;
    background-color: #3e4248;
    border-radius: 4px;
    outline: none;
    margin: 3px;
    &:disabled {
      background-color: #cccccc;
    }
  }
  .current-page {
    pointer-events: none;
  }
}
