.row {
  display: flex;
  flex-direction: row;
}

.add-btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px 10px 0px;
  .add-btn {
    font-size: 18px;
    color: #ffffff;
    padding: 5px 15px;
    background-color: #3e4248;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
}

.page {
  padding: 30px 180px;
  background-color: #24282f;
  .characters {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
