.profile-details-page {
  padding: 10px 100px;
  .profile-details {
    display: flex;
    .character-info {
      .name {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
      }
      .status {
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
      }
    }
  }
  .episodes {
    .episodes-list {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
    }
  }
}
