.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile {
  cursor: pointer;
  width: 500px;
  height: 260px;
  margin-bottom: 20px;
  .image {
    img {
      width: 260px;
      height: 260px;
    }
  }
  .character-info {
    width: 100%;
    padding: 15px 20px;
    background-color: #3c3d44;
    overflow: hidden;
    .name {
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      color: #ffffff;
    }
  }
  .general-info {
    padding: 5px 0;
  }
  .title {
    font-style: normal;
    font-size: 20px;
    color: #9e9d9e;
  }
  .text {
    font-style: normal;
    font-size: 22px;
    color: #ffffff;
  }
}
